#content

#wordnatra-info
Welcome to Wordnatra.
%br  
Wordnatra is an interface to Princeton's "Wordnet" lexical dictionary.
%br
To get started, search for a word.
%p
For information on this project and the technologies used, see the following links:
%p

=link_to 'Wordnatra', 'http://github.com/gnugeek/wordnatra/tree/master'
%br
=link_to 'Wordnet', 'http://wordnet.princeton.edu/' 
%br
=link_to 'Ruby', 'http://www.ruby-lang.org/en/'
%br
=link_to 'MySQL', 'http://www.mysql.com/'
%br
=link_to 'Sinatra', 'http://sinatra.rubyforge.org/'
%br
=link_to 'DataMapper', 'http://datamapper.org/doku.php'