<div class='intro'>
  Welcome to Wordnatra
  <br />
  To get started, search for a word.
  <br />
  For information on this project, see the following:
  <ul>
    <li><a href="http://github.com/gnugeek/wordnatra/tree/master">Wordnatra</a></li>
    <li><a href="http://wordnet.princeton.edu/">Wordnet</a></li>

    <li><a href="http://www.ruby-lang.org/">Ruby</a></li>
    <li><a href="http://www.mysql.com">MySQL</a></li>
    <li><a href="http://sinatra.rubyforge.org/">Sinatra</a></li>
    <li><a href="http://datamapper.org/doku.php">DataMapper</a></li>
  </ul>
</div>
