#content
.intro
  Welcome to Wordnatra.
  %br 
  To get started, search for a word.
  %br 
  For information on this project, see the following:
.links
  %ul
    %li=link_to 'Wordnatra', 'http://github.com/gnugeek/wordnatra/tree/master'
    %li=link_to 'Wordnet', 'http://wordnet.princeton.edu/'
    %li=link_to 'Ruby', 'http://www.ruby-lang.org/'
    %li=link_to 'MySQL', 'http://www.mysql.com'
    %li=link_to 'Sinatra', 'http://sinatra.rubyforge.org/'
    %li=link_to 'DataMapper', 'http://datamapper.org/doku.php'
