!!!
%html
  %head
    %title Wordnatra
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}       
  %body
    #banner Wordnatra
    %br
    
    #wordnet-search
    %form{:method => 'post', :action => '/'}
      %input{:type=>'text', :size=>40, :name=>'lemma', :id=>'lemma_search'}
      %input{:type =>'submit', :value=>'search'}
      
      %p
    
      = yield
    
%script
  :plain
    document.getElementById('wordnet-search').focus();
