!!!
%html{:lang => "en"}
  %head
    %title Wordnatra
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
    %script{:type=>'text/javascript', :src=>'http://jquery.com/src/jquery-latest.js'}
  %body
    #banner
      Wordnatra
    #search
      %form{:method => 'post', :action=> '/'}
        %input{:type=>'text', :size=>40, :name=>'lemma', :id=>'lemma-search'}
        %input{:type =>'submit', :value=>'word'}
    #content
    =yield
    
%script
  :plain
  document.getElementById('lemma-search').focus();
  