<html>
  <head>
    <title>Wordnatra</title>
  </head>
  <body>
    <div class="banner">Wordnatra</div>
    <p/>
    <div class="wordnet-search">
    <form method="post" action="/">
      <input type="text" name="lemma" id="lemma-search">
      <input type="submit" value="search">
    </form>
    </div>
    <p/>
    <%= yield %>
  </body>
</html>
    