body
  :background #000
  :min-width 750px

a:link
  :color #556
  
.intro 
  :font-family arial
  :background #fff
  :width 50%
  :padding 5px
   
#banner
  :font-family arial
  :font-size 24px
  :color #fff
  :height 40px
  :background #556
  :text-align left
  
#search
  :height 40px
  :background #aab
  :text-align left
  :font-size 24px

#content
  :font-family arial
  
table.word_results
  :font-family arial
  :width 100%
  :background #ffa
  :border 1px solid gray
  caption
    :background #fff
    :text-align center
    :border 1px solid gray
  td
    :text-align left
  th
    :text-align left
    
table.synset_results
  :font-family arial
  :width 100%
  :background #aaf
  :border 1px solid gray
  caption
    :background #fff
    :text-align center
    :border 1px solid gray
  td
    :text-align left
  th
    :text-align center

#results-synsets
  :float right 
  :width 60%
   
#results-word
  :float left
  :width 40%

