body
  :background #000
  
#banner
  :font-family arial
  :font-size 24px
  :color #fff
  :height 40px
  :background #556
  :text-align left
  :padding 5px
  
#search
  :height 40px
  :background #aab
  :text-align left
  :font-size 24px
  :padding 5px

#content
  :font-family arial
  :padding 5px 
  :margin 5px
  
table.results
  :font-family arial
  :width 40%
  :border 1px solid gray
  :background #aaf
  td
    :text-align left
  th
    :text-align left

