%table.results{:summary=>"Wordnet search results for word #{@word.lemma}"}
  %tr
    %th wordid
    %td= @word.wordid
  %tr
    %th lemma
    %td= @word.lemma
    
%script{:type => "text/javascript"}
  $(document).ready(function(){
  alert("Thanks for visiting!");
  });
  
  
  
  
