<table class="word" summary="The id and lemma of the word searched for">
  <caption>Search result</caption>
  <tr>
    <th>wordid</th>
    <td><%= @word.id %></td>
  </tr>
  <tr>
    <th>lemma</th>
    <td><%= @word.lemma %></td>
  </tr>
</table>